*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  box-sizing: border-box;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  
}
.card img{
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 10;
  background: transparent;
  background: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7));
}
.card p{
  position: absolute;
  font-size: 24px;
  font-weight: 500;
  color: rgb(27, 26, 26);
  text-align: center;
  bottom: 4px;
  z-index: 20;
  padding: 2px;
  border-radius: 3px;
}
.main{
  display: flex;
  flex-direction: column;

}
.main h2{
  margin: 1rem 3rem;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 480px;
  height: 60px;
  margin: 1.5rem auto;
  padding: 10px;
}
.icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  color: #fff;
  background-color: black;
  cursor: pointer;
}
.cusine{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-gap: 2rem;
}
.cusine img{
  width: 100%;
  border-radius: 2rem;
}
input{
width: 100%;
border: none;
outline: none;
margin-left: 10px;
height: 100%;
}
.search{
  position: relative;
  display: flex;
  border: 0.5px solid gray;
  border-radius: 15px;
  width: 560px;
  margin: 50px auto;
  align-items: center;
  padding: 20px 10px;
}
a{
  text-decoration: none;
  color: black;
}
.leftside{
  width: 40%;
  padding: 15px;
  text-align: center;
}
.rightside{
  width: 60%;
  padding: 15px 40px;
  line-height: 2.5rem;
  
}
.infoWrapper{
  display: flex;
  
}
.leftside h3{
  margin: 15px;
  
}
.leftside img{
width: 500px;
border-radius: 4px;
}
button{
  border: 1px solid black;
  padding: 15px 40px;
  color: black;
  margin:20px;
  text-align: center;
}
.active{
  color: white;
  background-color: black;
}
.logo{
  position: absolute;
  margin-top: 1rem;
  margin-left: 4.5rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.logo h2{
  margin-left: 5px;
}
